@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This Web app is built with <a href="https://docs.microsoft.com/aspnet/core">ASP.NET Core</a>, <a href="https://www.steema.com/product/html5">TeeChartJS</a> and <a href="https://dotnet.microsoft.com/apps/aspnet/real-time">SignalR</a>.</p>
</div>

<canvas id="canvas1"></canvas>